*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: wh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
}

.container{
    width: 50vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.inCard{
    position: absolute;
    backdrop-filter: blur(5px);
    background: rgba(45, 234, 213, 0.5);
    bottom: 0;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(4%);
    width: 100%;
    height: auto;

}

.container:hover .inCard {
    opacity: 1;
    backdrop-filter: blur(10px);
    background: rgba(523, 34, 456, 0.6);
    transform: translateY(0%);
}
