* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}

header,
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

li {
  list-style: none;
  padding-right: 2em;
  font-size: 1.5em;
}

.hero {
  width: 100%;
  height: 100vh;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://plus.unsplash.com/premium_photo-1673953509975-576678fa6710?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGRvY3RvcnxlbnwwfHwwfHx8MA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.goal {
  width: clamp(100px, 60%, 800px);
  height: clamp(auto, auto, 800px);
  backdrop-filter: blur(30px);
  padding: 0.5em;
  border-radius: 20px;
  box-shadow: 2px 2px 10px white;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}

.form {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
}

input,
button {
  width: 100%;
  height: 3em;
}

label {
  font-size: 1.5em;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  height: 200px;
  width: clamp(100px, 60%, 800px);
}