body{
    background:rgb(80, 78, 78);
}

main, .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 300px;
    height: 50px;
    background-color: rgb(27, 66, 66);
    border-radius: 3em;
    position: relative;
}

input{
    height: 4em;
    width: 100%;
}

.fa-magnifying-glass{
    position: absolute;
    left: 0;
}