
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: rgb(149, 117, 57);
    font-family: orbitron;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.clock{
    letter-spacing: 7px;
}