*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    padding: 0.5rem 1rem;
    border: 1px solid white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    transition: all 0.5s;
    color: white;
}

a:hover{
    background-color: aliceblue;
    color: wheat;
}