*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
}

.cir{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(125, 2, 109);
    position: absolute;
    top: 0;
}

.line{
    border: 4px solid rgb(125, 2, 109);
    transform: rotate(90deg);
    height: 500px;
}