*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
}

.vid{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vid > video{
    width: 100%;
    height: 100%;
}

.overlay{
    position: absolute;
    text-align: center;
}

.overlay > h1{
    color: yellow;
    font-family: sans-serif;
    font-size: 64px;
}

button{
    background: transparent;
    filter: blur(11px);
    padding: 1em;
    font-size: 3em;
    border: 4px solid white;
    color: white;
    border-radius: 20px;

    &:hover{
        border: 4px solid blue;
        background-color: white;
        color: blue;
        filter: none;
    }
}